{% extends 'base_layout.html' %}

{% block content %}
<div class="container center">
    <h1>Login</h1>
    <div class="signup-form container light-blue darken-1 z-depth-5">
        <form class="site-form" action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div class="submit-container">
                <button type="submit" value="Login" class="btn grey darken-4 center">Login</button> 
            </div>
        </form>
    </div>
</div>
{% endblock %}